<div class="titulo_1">
    <h2>Categorias Principais</h2>
</div>
<div class="items-slick-carousel-slider">
    <% categorias.forEach(element => { %>
        <div class='div-img-corousel-slider'><img src="<%= element.foto %>"></div>
    <% }) %> 
</div>