<br>
<div class="titulo_1">
    <h2>Outras Categorias</h2>
</div>
<div class="items-slick-carousel-slider">
    <% subcategorias.forEach(element => { %>
        <div class='div-img-corousel-slider'><img alt="<%= element.nome%>" src="<%= element.foto %>"></div>
    <% }) %> 
</div>