<nav class="navbar">
	<div class="items-slick-carousel-slider">
		<% categorias.forEach(element => { %>
			<div class='div-img-corousel-slider'><img alt = "<%= element.nome %>"src="<%= element.foto %>"></div>
		<% }) %> 
	</div>
</nav>