<nav class="navbar navbar-expand-xl navbar-dark">

	<a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Livra<b>X</b></a>  	

	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Procurar Categorias ou Subcategorias">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>

		<div class="navbar-nav ml-auto">
			<a href="/" class="nav-item nav-link active aligned">Casa</a>
            <a href="/" class="nav-item nav-link active aligned">Perfil</a>  
		</div>
	</div>
</nav>
