<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Suporte</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">Contatos</a></li>
          <li><a href="#">Dicas de segurança</a></li>
          <li><a href="#">Politica de privacidade</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Redes sociais</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Youtubes</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contribuidores</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Gustavo Teixeira</a></li>
          <li><a href="#">Larissa Tainá</a></li>
          <li><a href="#">Pedro Henrique</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">© All right Reversed.<a class="text-green ml-2" href="#" target="_blank">LivraxLab</a></p>
      </div>
      <hr>
    </div>	
  </div>
</section>




</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>